body {
    background-color: cadetblue;
}

h1 {
    padding: 20px;
    color: tomato;
}

.toggler {
    color: tomato;
    background-color: transparent;
    border-width: 4px;
    padding: 6px 24px;
}

.content {
    padding: 20px;
    color: aliceblue;
    max-width: 400px;
}

ul {
    display: flex;
    flex-direction: row;
}

li {
    margin-left: 32px;
    color: aliceblue;
    background-color: tomato;
    padding: 2px 12px;
    list-style-type: circle;
}

li:first-of-type {
    margin-left: 0;
}